In [20]:
list = ["one","two","three"]
list

['one', 'two', 'three']

In [21]:
list[0]

'one'

In [22]:
if "two" in list : ## It is case sensitive
    print("yes", list)
else :
    print("no")

yes ['one', 'two', 'three']

In [23]:
list[1]= 5
list

['one', 5, 'three']

In [24]:
list0 = ["Four","five","six"]
x = list + list0
x

['one', 5, 'three', 'Four', 'five', 'six']

In [26]:
x.append("eight") ##we dont need to assign it to a new variable
print(x)

['one', 5, 'three', 'Four', 'five', 'six', 'eight', 'eight']

In [27]:
list0.append('a')
list0

['Four', 'five', 'six', 'a']

In [28]:
print(list[1:5])

[5, 'three']

In [29]:
list0

['Four', 'five', 'six', 'a']

In [31]:
print(list0[0:4])

['Four', 'five', 'six', 'a']

In [42]:
list0.popped(0) ## used to remove an item from the
print(list0)

AttributeError: 'list' object has no attribute 'popped'

In [57]:
list1 = [5,4,3,2,1]
a = sorted(list1)
a
b = sorted(a,reverse = True)
b

[5, 4, 3, 2, 1]

## Functions

In [59]:
def function() :
    print("THis is my first function")
function()

THis is my first function

In [68]:
def function0(n) :
    print("This is my second function",n)
    return ["Success",True]

In [69]:
name = "Chirag"
function0(name)

This is my second function Chirag

['Success', True]

In [85]:
names = ["Chirag","Josh","Anushya","Tulip"]
def names(a) :
    list_of_names = str(input[""])
    if list_of_names == names :
        print("The name already exists")
    else :
        print(list_of_names)

In [90]:
names = ["Chirag","Josh","Anushya","Tulip"]
list_of_names = []
if list_of_names == names :
    print("The name already exists")
else :
    print(list_of_names.append(str(input())))

None

In [231]:
names_list = []
def names_list(n):
    
    if names_list == "q" :
        print("the process is ended",names_list)
    elif names_list =="":
        print("The name already exists",name)
    else :
        name.append(n)
        print("Name added",name)

In [232]:
names_list("q")

Name added ['q', 'q', 'q']

In [225]:
names_list("Josh")

Name added ['Chirag', 'Josh']

In [226]:
names_list("Josh")

Name added ['Chirag', 'Josh', 'Josh']

In [143]:
names_list("Anushya")

Name added ['Chirag', 'Josh', 'Tulip', 'Anushya']

In [144]:
names_list("Anushya")

Name added ['Chirag', 'Josh', 'Tulip', 'Anushya', 'Anushya']

In [283]:
name = []
def name_list(n) :
    if n  == "q" :
        print("Process is ended",name)
    elif n in name == name :
        print("The name already exists")
    else :
        name.append(n)
        print("New name added",name)

In [292]:
name_list("q" )

Process is ended ['Chirag', 'TUlip', 'Britto']

In [285]:
name_list("Chirag")

New name added ['Chirag']

In [286]:
name_list("Chirag")

The name already exists

In [287]:
name_list("TUlip")

New name added ['Chirag', 'TUlip']

In [289]:
name_list("Chirag")

The name already exists

In [290]:
name_list("Britto")

New name added ['Chirag', 'TUlip', 'Britto']

In [291]:
name_list("q")

Process is ended ['Chirag', 'TUlip', 'Britto']