Dictionary

In [4]:
my_dict = {"Name" : "Chirag",
            "Age" : 21,
            "BooleanVal" : True}
my_dict # Dictionary is used to store values in the key value pairs and we can store data in keys and then access it by printing the keys

{'Name': 'Chirag', 'Age': 21, 'BooleanVal': True}

In [7]:
print(my_dict["Name"])

Chirag

In [9]:
my_dict["Name"] = "New Name"
print(my_dict)

{'Name': 'New Name', 'Age': 21, 'BooleanVal': True}

In [10]:
my_dict["Phone"] = "9008407612"
print(my_dict)

{'Name': 'New Name', 'Age': 21, 'BooleanVal': True, 'Phone': '9008407612'}

In [11]:
my_dict.values()

dict_values(['New Name', 21, True, '9008407612'])

In [12]:
my_dict.keys()

dict_keys(['Name', 'Age', 'BooleanVal', 'Phone'])

In [14]:
print(my_dict.values())
for i in my_dict.values() :
    print(i)

dict_values(['New Name', 21, True, '9008407612'])
New Name
21
True
9008407612

In [21]:
student = {
    "MscDSA": {
        "13": {
            "Name": "Chirag N",
            "Phone": "9008407612"
        },
        "12": {
            "Name": "Britto Fernandez",
            "Phone": "5465431654"
        }
    }
}
print(student)

{'MscDSA': {'13': {'Name': 'Chirag N', 'Phone': '9008407612'}, '12': {'Name': 'Britto Fernandez', 'Phone': '5465431654'}}}

In [31]:
print(student["MscDSA"]["13"])
print(student["MscDSA"]["12"])

{'Name': 'Chirag N', 'Phone': '9008407612'}
{'Name': 'Britto Fernandez', 'Phone': '5465431654'}

In [40]:
print(student.values())

dict_values([{'13': {'Name': 'Chirag N', 'Phone': '9008407612'}, '12': {'Name': 'Britto Fernandez', 'Phone': '5465431654'}}])

In [45]:
print(student.keys())

dict_keys(['MscDSA'])

In [63]:
students = [    {
        "MscDSA": {
            "13": {
                "Name": "Chirag N",
                "Phone": "9008407612"
            },
            "12": {
                "Name": "Britto Fernandez",
                "Phone": "5465431654"
            }
        }
    }
]


for i in students :
   print(students)
   for keys in i.keys() :
      print(i[keys],end = "\t")
print()

[{'MscDSA': {'13': {'Name': 'Chirag N', 'Phone': '9008407612'}, '12': {'Name': 'Britto Fernandez', 'Phone': '5465431654'}}}]
{'13': {'Name': 'Chirag N', 'Phone': '9008407612'}, '12': {'Name': 'Britto Fernandez', 'Phone': '5465431654'}}