## Looping Statements

for var in (list,string,statements) :

In [1]:
for i in "This string" :
    print(i)

T
h
i
s

s
t
r
i
n
g

In [12]:
A = "THIs is Chirsg \n from BC to AC"
print(A)


A = A.strip() ## It removes unnecessary spaces
print(len(A))

THIs is Chirsg
 from BC to AC
30

### range(starting point, ending point,  step)

In [13]:
for i in range(0,10,2) :
    print(i)

0
2
4
6
8

In [16]:
a = list(range(0,10,1))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
x  = sum(a)
x

45

In [26]:
x = "~White lives matter~"
x = x.strip()
print(x)

~White lives matter~

### List  - It is the collection of values. It can be of any data types. A list is represented in square brackets.

In [28]:
list = [1,2,3,"Chrrist Doomed to be University", 3.14, "is Pie"]
list

[1, 2, 3, 'Chrrist Doomed to be University', 3.14, 'is Pie']

In [30]:
list[3]= "Christ deemed to be University"
list

[1, 2, 3, 'Christ deemed to be University', 3.14, 'is Pie']

### Strings

In [32]:
A = "Hello World"
type(a)

list

### Split() and Strip()

In [33]:
a = "\t  hai....\n"
a = a.strip()
print(a)

hai....

In [50]:
a = "Hello WOrld this is string"
x = a.split(' ')#there is a space given between the semicolon to use the split command
print(x)

['Hello', 'WOrld', 'this', 'is', 'string']

In [47]:
type(x)

list

In [51]:
for i in x :
    print(i)

Hello
WOrld
this
is
string

In [54]:
print("chirag".upper()) ## used to convert smaller case to upper case

CHIRAG

In [57]:
print("CHIRAG".lower()) ## used to convert upper case to lower case

chirag

In [59]:
print("Chirag nagaraja".swapcase()) #swaps the cases

cHIRAG NAGARAJA

## Character Slicing

In [61]:
x = "Hello world"
x[6]

'w'

In [63]:
y = "Booyaka"
y[:5] #prints until 5th letter

'Booya'

In [70]:
name = input("what you do")
loca = input("where you at" )
x = input("You got plans")
print("what you do {} where you at {} you got plans {}".format(name,loca,x))

what you do what you do where you at where you at you got plansyou got plans

In [ ]:
nam