The Name Collector's Quest

In a quaint little village named Harmonyville, there lived a curious individual named Alex. Alex was known for his passion for collecting names. His dream was to create an extensive list of unique names that would reflect the diversity and camaraderie of the village. Alex used to sit in the village junction; as the villagers passed, Alex eagerly approached them and asked for their names. With each encounter, they diligently recorded the names in his notepad.

To keep things organized, You were one among the villagers and have decided to create a program to assist them in this endeavour. You asked Alex to begin by defining a list on his laptop instead of his notepad, and you started writing functions to add names.

The function that you have defined should do

Whenever a new name is encountered, record it.
If an existing name comes, the program says the name exists.
Alex makes a lot of mistakes; your program also has to do the necessary validations.
The function quits when q is entered as a name and prints all the names in the list, and then he has to call the function.
As a data analyst of the village, analyse the names in the list.
Days turned into weeks and weeks into months. Alex's name collection grew beyond their wildest dreams. The villagers admired their dedication and the beautifully organized list they had created. Alex's program became a legend in Harmonyville, passed down from generation to generation.

And so, in the heart of the village, Alex's legacy lived on - a story of names, community, and the power of coding to bring dreams to life.

In [64]:
name = []
def name_list(n) :
 
    if n  == "q" :
        print("Process is ended",name)
    elif n in name == name :
        print("The name already exists")
    elif type(n) == int :
        print("Invalid")
    elif n in name == alpha:
        print("Invalid")
    else :
        name.append(n)
        print("New name added",name)

In [65]:
name_list(1)

Invalid

In [66]:
name_list("JOsh")

New name added ['JOsh']

In [67]:
name_list

In [68]:
name

['JOsh']

In [69]:
name_list("Britto")

New name added ['JOsh', 'Britto']

In [70]:
name_list("Britto")

The name already exists

In [71]:
name_list(" ")

New name added ['JOsh', 'Britto', ' ']